@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    /* min-width: 1379.2px; */
    width: 100%;
    height: 695.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2E3E7;
}

li {
    list-style: none;
}

.container {
    /* border: 2px solid brown; */
    width: 90%;
    height: 90%;
    background-color: #fff;
}

/* <!--Header--!> */

header {
    border: 2px solid red;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu-icon {
    border: 2px solid hotpink;
    width: 6%;
    padding-left: 0.6em;
    padding-top: 0.78em;
    padding-bottom: 0.6em;
    padding-right: 0.6em;
    font-size: 1.4rem;
}

.product-types {
    border: 2px solid green;
    width: 18%;
    padding: 0.6em;
    font-size: 1.05rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: color 0.4s ease;
}

.sofa,
.chair,
.bed{
    position: relative;
}

.sofa::before,
.chair::before,
.bed::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(135deg, blue, purple);
    transition: all 0.5s ease;
}

.sofa:hover::before,
.chair:hover::before,
.bed:hover::before{
    width: 100%;
}

.product-types li:hover {
    color: blue;
}

.logo-companyname {
    border: 2px solid orange;
    width: 54%;
    padding: 0.4em 0.6em 0.6em 0.6em;
    text-align: center;
}

.logo {
    font-size: 2.5rem;
}

.companyname {
    font-size: 1.3rem;
    font-weight: 700;
}

.side-icons {
    border: 2px solid olive;
    width: 20%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.account i,
.liked-products i,
.cart i{
    font-size: 1.2rem;
}

.account i {
    cursor: pointer;
    padding: 0.6em;
}

.liked-products i {
    cursor: pointer;
    padding: 0.6em;
}

.cart i {
    /* padding-left: 1em; */
    cursor: pointer;
    padding: 0.4em;
}

/* .account i:hover,
.liked-products i:hover,
.cart i:hover{
    background-color: #c3c0c0;
    border-radius: 50px;
} */


.super {
    cursor: pointer;
    background-color: orangered;
    width: 15px;
    padding: 0.2em;
    font-size: 0.6rem;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 1px;
}

.account-name,
.liked-products-name,
.cart-name {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.3em;
    font-size: 0.8rem;
    font-weight: 500;
    /* margin-right: 0.5em; */
    background-color: #c3c0c0;
    opacity: 0.9;
    position: absolute;
    top: 33px;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.liked-products-name{
    width: 95px;
    text-align: center;
}

.account i:hover + .account-name,
.liked-products i:hover + .liked-products-name,
.cart i:hover + .cart-name {
    visibility: visible;
}

/* <!--/Header--!> */

/* <!--Main--!> */

main{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

/* <!--Left-Section--!> */

.left-side{
    border: 2px solid green;
    width: 45%;
    height: 90%;
    margin-top: 1em;
    margin-left: 1.2em;
}

.top-context{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 275px;
}

.context-left-side{
    /* border: 2px solid firebrick; */
    width: 80%;
    /* height: 80%; */
}

.context-left-side .main-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.context-right-side{
    /* border: 2px solid yellowgreen; */
    width: 25%;
    height: 171.8px;
    margin-top: 3em;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.side-images{
    /* border: 2px solid yellowgreen; */
    width: 100%;
    text-align: center;
}

.side-images .grow-image{
    width: 33%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.image-1{
    border: 0.3px solid black;
}

.grow-image:hover{
    transform: scale(10);
    border: 0.3px solid black;
}

.bottom-context{
    margin-top: 1.3em;
    border: 2px solid red;
}

.bottom-title-icons{
    /* border: 2px solid teal; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 1.1rem;
    font-weight: 500;
}

.for-back-icons i{
    font-size: 1.4rem;
}

.bx-chevron-left{
    background-color: #f1eeee;
    border-radius: 50%;
    margin-right: 0.4em;
}

.bx-chevron-right{
    background-color: #d3d1d1;
    border-radius: 50%;
}

.bottom-images-name-price{
    /* border: 2px solid yellowgreen; */
    width: 100%;
    margin-top: 0.8em;
    display: flex;
    /* flex-direction: column; */
}

.image-name-price{
    width: 100%;
}

.image{
    /* border: 2px solid rebeccapurple; */
    text-align: center;
    width: 90%;
    /* height: 65.3%; */
}

.image .chair-1{
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-right: 0.7em;
    /* object-position: center; */
}

.proname-proprice{
    display: flex;
    justify-content: space-around;
}

.proname{
    font-size: 0.6rem;
    font-weight: 500;
    /* margin-left: -1em; */
}

.proprice{
    font-size: 0.6rem;
    font-weight: 700;
}

/* <!--/Left-Section--!> */

/* <!--Middle-Section--!> */

.middle-side{
    width: 0%;
    border: 2px solid rgb(216 216 212);    margin-top: 1em;
    /* margin-bottom: -82px; */
}

/* <!--/Middle-Section--!> */

/* <!--Right-Section--!> */

.right-side{
    border: 2px solid lightseagreen;
    /* border: 2px solid green; */
    width: 45%;
    height: 90%;
    margin-top: 1em;
    margin-right: 1.2em;
}

.heart{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.heart-icon{
    background-color: #b5b6b8;
    border-radius: 50%;
    padding: 0.4em;
    font-size: 1.1rem;
}

.product-name{
    font-size: 2rem;
    margin-bottom: 0.3em;
}

.product-desc{
    font-size: 0.8rem;
    margin-bottom: 1.4em;
}

.product-price{
    margin-bottom: 0.4em;
}

.rating-reviews{
    display: flex;
    gap: 10px;
    align-items: center;
}

.review-info{
    text-decoration: underline;
    margin-bottom: 0.9em;
}

.bxs-star, .bxs-star-half{
    margin-top: 0.2em;
    font-size: 1.5rem;
    margin-bottom: 0.9em;
}

.color-name{
    margin-bottom: 0.6em;
    font-size: 1.1rem;
    font-weight: 500;
}

.bxs-circle{
    font-size: 1.9rem;
    margin-bottom: 1em;
}

.btns{
    display: flex;
    justify-content: space-between;
}

.buy-now,
.add-to-cart{
    padding: 0.9em;
    width: 45%;
    /* height: 20%; */
    background-color: transparent;
    font-size: 1.05rem;
    font-weight: 500;
    cursor: pointer;
}

.add-to-cart{
    background-color: black;
    color: #fff;
}

/* .dis-info-ques{
    
} */

.dispatch{
    display: flex;
    justify-content: space-between;
    margin-top: 1.4em;
    height: 15px;
}

.dispatch-info,
.question{
    font-size: 0.85rem;
}

.right-arrow{
    background: transparent;
}

.question{
    display: block;
    color: black;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #b5b6b8;
    border-bottom-width: 100%;
}

.delivery{
    margin-top: 1.2em;
}

.delivery-price-info{
    font-size: 0.85rem;
    font-weight: 500;
}

/* <!--/Right-Section--!> */

/* <!--Footer--!> */

/* footer{ */
    /* position: relative; */
    /* height: 100px; */
    /* text-align: center; */
/* } */

/* .bxs-circle-half{ */
    /* position: sticky; */
    /* font-size: 7rem;
    margin-bottom: 2px;
    margin-top: -2.9px; */
    /* position: absolute;
    border: 2px solid gray;
    font-size: 6rem;
    left: 50%;
    top: 50%; */
    /* transform: translate(); */
    /* height: 20px; */
    
/* } */

/* .bx-search{
    position: absolute;
    top: 34%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%,-50%);
    cursor: pointer;
} */

/* <!--/Footer--!> */

/* <!--/Main--!> */

/* @media (max-width:996px){
    .product-types{
        width: 30%;
    }
} */

/* @media (max-width:689px){
    .container{
       height: 92%;
    }
}

@media (max-width:588px){
    .container{
       height: 94.5%;
    }
} */

@media (min-width:344px) and (max-width:540px){
    body{
        /* height: 90vh; */
        align-items: center;
        background-color: #fff;
    }

    .container{
        position: relative;
        /* overflow-y: scroll; */
        /* height: 100%; */
        width: 100%;
        margin-top: -4.5em;
        /* width: 90%; */
        /* height: 100vh; */
    }

    header{
        /* position: sticky; */
        /* width: 100%; */
        /* height: 200px; */
        background-color: #fff;
    }

    .menu-icon{
        width: 30%;
        padding-left: 0.8em;
    }

    .product-types{
        display: none;
    }

    .logo-companyname{
        width: 74%;
    }

    .side-icons{
        width: 35%;
        gap: 5px;
    }

    .account i, 
    .liked-products i, 
    .cart i{
        padding: 0.1em;
        font-size: 1rem;
    }

    main{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        overflow-y: scroll;
        border: 2px solid hotpink;
    }

    .top-context{
        height: 221px;
    }

    .left-side{
        /* border: 2px solid red; */
        width: 90%;
        height: 80%;
        margin-left: 0;
        /* margin-bottom: 0.2em; */
    }

    .context-left-side .main-image{
        width: 100%;
        object-fit: cover;
    }

    .side-images{
        /* margin-top: 0em; */
    }

    .side-images .grow-image{
        width: 50%;
    }

    .grow-image:hover{
        transform: scale(4);
    }

    .middle-side{
        display: none;
    }

    .bottom-context{
        position: absolute;
        top: 134%;
        width: 88%;
        margin-top: 1em;
    }

    .right-side{
        width: 90%;
        /* text-align: center; */
        margin-right: 0;
        margin-top: 0.5em;
    }

    .btns{
        flex-direction: column;
    }

    .buy-now, 
    .add-to-cart{
        width: 100%;
        padding: 0.7em;
    }

    .buy-now{
        margin-bottom: 0.7em;
    }

    .question{
        margin-top: 0.2em;
        text-align: start;
    }

    .delivery-price-info{
        text-align: start;
    }

    footer{
        display: none;
    }
}

@media (min-width:768px) and (max-width:912px){
    .container{
        margin-top: 10em;
    }

    .context-left-side .main-image{
        margin-left: 5px;
        object-fit: cover;
    }

    .side-images .grow-image{
        width: 54%;
    }

    .top-context{
        height: 243px;
    }

    .product-types{
        width: 28%;
    }

    .logo-companyname{
        width: 34%;
    }

    .side-icons{
        width: 27%;
        margin-left: 1em;
    }
}