@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    color: #fff;
    background-color: #0F0F0F;
}

.logo-title{
    /* border: 2px solid magenta; */
    display: flex;
    align-items: center;
}

.sidebar{
    /* border: 2px solid magenta; */
    width: 15%;
    padding-right: 5px;
    background-color: #0F0F0F;
}

.sidebar-icon{
    /* border: 2px solid green; */
    width: 6%;
    padding: 0.3em;
    /* background: #000; */
    margin-left: 0.3em;
}

.logo-title a{
    margin-left: 0.6em;
}